@import "/src/assets/scss/import";


.dev-footer{
    background: #b7dbff;
    min-height: 300px;
    margin: 30px 0;
    display: flex;
    align-items: center;

    .dev-in{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        button{
            margin-top: 10px;
        }
    }
}

.footer {
    width: 100%;
    background: $dark;
    padding: $base-size * 12 0;

    h4 {
        color: $white;
    }

    img {
        background: $white;
        margin: $base-size* 4 0;
        border-radius: 4px;
    }

    ul {
        li {
            padding: $base-size * 3 0;
            color: $white;
        }
    }
}
