<div class="dev-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center p-t-20 p-b-20 dev-in">
                <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </h2>
                <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius ea, libero voluptatum ab.</h3>
                <button class="had-btn btn">Hire Developers</button>
            </div>
        </div>
    </div>
</div>


<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-md-3">
                        <h4> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque laborum, quae perspiciatis
                            quaerat fugiat corrupti repellat quod ipsum.</h4>
                        <div fxLayoutAlign="start center" fxLayoutGap="16px">
                            <img src="/assets/images/icon/facebook.svg" alt="facebook">
                            <img src="/assets/images/icon/instagram.svg" alt="instagram">
                            <img src="/assets/images/icon/pinterest.svg" alt="pinterest">
                            <img src="/assets/images/icon/twitter.svg" alt="twitter">
                            <img src="/assets/images/icon/whatsapp.svg" alt="whatsapp">
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <ul>
                            <li>Companies</li>
                            <li>Hire Developers</li>
                            <li>Hire Development Team</li>
                            <li>Book a Call</li>
                            <li>Hire for Specific Skills</li>
                            <li>Customer Reviews</li>
                        </ul>
                    </div>
                    <div class="col-md-3 text-center">
                        <ul>
                            <li>Companies</li>
                            <li>Hire Developers</li>
                            <li>Hire Development Team</li>
                            <li>Book a Call</li>
                            <li>Hire for Specific Skills</li>
                            <li>Customer Reviews</li>
                        </ul>
                    </div>
                    <div class="col-md-3 text-center">
                        <ul>
                            <li>Companies</li>
                            <li>Hire Developers</li>
                            <li>Hire Development Team</li>
                            <li>Book a Call</li>
                            <li>Hire for Specific Skills</li>
                            <li>Customer Reviews</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>