

// Body color
$body-color:#f4f7fc;

// Btn Shadow color
$shadow-color:rgba(0, 0, 0, 0.16);

// Card Shadow
$card-shadow: rgba(160, 160, 160, 0.16);

// Top bar
$top-shadow:rgba(0, 0, 0, 0.06);

//Footer Shadow
$footer-shadow:rgba(0, 0, 0, 0.09);


/*Theme Color */
$white:#fff;
$black:#000;
$dark: #343a40;
$muted:#e0e0e0;
$font-color:#242424;
$h3-color:#686868;
$gray-light:#e2e2e2;
$gray-mid:#c6c6c6;
$gray-dark:#aaaaaa;
$star-col-active:#fe9e23;

$success:#28a745;
$danger: #a30505;
$warning:#ffc107;
$disabled:#888888;
$btn-bg:#e9ecef;
$ad-crt-bod:#bcb69f;
$location-color:#1967D2;

// Border Color
$input-border:#a7a7a7;