//
// Base setting
//

// Base Font Size
$base-size:0.125rem;                // 2 Pixels  //
$base-font-size:0.875rem;               // 14 Pixels  //
$base-line-height:1.875rem;         // 30 Pixels  //


// Font Weight
$font-weight-light:400;
$font-weight-regular:500;
$font-weight-semi-bold:700;
$font-weight-bold:bold;

// Header Font Size
$h1: $base-size*20;        // 18 Pixels  //
$h2: $base-size*10;        // 14 Pixels  //
$h3: $base-size*7;        // 16 Pixels  //
$h4: $base-font-size;     // 16 Pixels  //
$h5: $base-font-size;     // 16 Pixels  //
$h6: $base-font-size;     // 16 Pixels  //

