
$primary:#018ecf;

$secondary:#242424;

$background-color:#f2f5fa;

$background-hover:#262525;

$border-color:#ebebeb;

$search-border:#a2a2a2;

$gradient-color-left:#008ecf;

$gradient-color-right:#0065b0;