
$primary:#5aa90e;

$secondary:#99ce66;

$background-color:#f2f5fa;

$background-hover:#b1b1b1;

$border-color:#ebebeb;

$search-border:#a2a2a2;

$gradient-color-left:#ffee52;

$gradient-color-right:#ffd30d;


