
<div class="row companies">
    <div class="col-md-6">
        <h3>For Developers</h3>
        <h1>Apply to remote US software jobs from the comfort of your home</h1>
        <h4>Join a network of the world's best developers & get full-time, long-term remote software jobs with better compensation and career growth.</h4>

        <button class="had-btn btn">
            Apply Now
        </button>
        <h5>Looking to hire instead? Hire developers</h5>
    </div>
    <div class="col-md-6">
        <img src="/assets/images/header-final.jpg" width="100%" alt="">
    </div>
</div>