@import "/src/assets/scss/import";

.companies{
    
    h1{
      font-size: $base-size*25;
      font-weight: 500;
      line-height: normal;
      margin-top: 25px;
    }
    h3{
        margin-top: 50px;
        color: $primary !important;
        font-weight: 500;
    }
    h4{
        margin-top: 25px;
        font-size: $base-size*10 !important;
    }
    h5{
        margin-top: 25px;
        font-size: $base-size*8 !important;
    }
    button{
        margin-top: 25px;
    }
    .input-group{
        margin: 30px 0 0 0;
        width: 70%;
        .input-group-text{
            border-radius: 0px 4px 4px 0;
            background: $primary !important;
            color: $white;
        }
    }

}


.bg-img{
    h2 {
        margin-top: 60px;
    }
    h5{
        margin: 16px 0;
    }
    .list-menu{
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: start;
        p{
            font-weight: 700;
        }
        .list{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            background: $warning;
            border-radius: 4px;
            box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
                        3px 3px 5px rgba(0, 0, 0, 0.1);
            margin-right: 10px;
            i{
                color: $black;
                font-size: 20px;
            }
        }
    }
}

.developer{
    padding: 30px 0;
    h2{
        text-align: center;
    }
    h4{
        background: $dark;
        width: $base-size* 10;
        height: $base-size* 10;
        border-radius: 50%;
        font-size: 14px;
        line-height: 20px;
        color: $white;
        text-align: center;
        margin-top: 50px;
    }
    h5{
        font-size: $base-size*9;
        font-weight: 500;
        margin-top: 12px;
    }
    h6{
        font-size: $base-size*7; 
        margin-top: 6px;
    }
}