<!-- Start Header -->
<div class="row companies">
    <div class="col-md-6">
        <h3>For Developers</h3>
        <h1>Apply to remote US software jobs from the comfort of your home</h1>
        <h4>Join a network of the world's best developers & get full-time, long-term remote software jobs with better
            compensation and career growth.</h4>

        <div class="input-group">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">@example.com</span>
            </div>
        </div>

        <button class="had-btn btn">
            Apply Now
        </button>
        <h5>Looking to hire instead? Hire developers</h5>
    </div>
    <div class="col-md-6">
        <img src="/assets/images/header-final.jpg" width="100%" alt="">
    </div>
</div>
<!-- End Header -->

<!-- Start Clients logo -->
<div class="row m-t-40 m-b-40">
    <div class="col-md-2 col-sm-6">
        <img src="/assets/images/logo1.jpg" width="100%" alt="">
    </div>
    <div class="col-md-2 col-sm-6">
        <img src="/assets/images/logo2.jpg" width="100%" alt="">
    </div>
    <div class="col-md-2 col-sm-6">
        <img src="/assets/images/logo3.jpg" width="100%" alt="">
    </div>
    <div class="col-md-2 col-sm-6">
        <img src="/assets/images/logo4.jpg" width="100%" alt="">
    </div>
    <div class="col-md-2 col-sm-6">
        <img src="/assets/images/logo5.jpg" width="100%" alt="">
    </div>
    <div class="col-md-2 col-sm-6">
        <img src="/assets/images/logo6.jpg" width="100%" alt="">
    </div>
</div>
<!-- End Clients Logo -->

<!-- Start divider -->
<div class="row  m-t-40 m-b-40">
    <div class="col-md-2 offset-md-5">
        <img src="/assets/images/divider.jpg" width="100%" alt="">
    </div>
</div>
<!-- ENd divider -->

<!-- Start Business -->
<div class="row bg-img">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-7">
                <img src="/assets/images/project-launch.jpg" width="100%" alt="">
            </div>
            <div class="col-md-5">
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
                <h5> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores accusantium, assumenda velit
                    beatae eligendi, vero nam ullam quae repellat necessitatibus numquam quo eius mollitia quisquam
                    eveniet. Quam deserunt ut est.</h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="list-menu">
                            <div class="list">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </div>
                            <p>Lorem ipsum dolor sit </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="list-menu">
                            <div class="list">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </div>
                            <p>Lorem ipsum dolor sit </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="list-menu">
                            <div class="list">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </div>
                            <p>Lorem ipsum dolor sit </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="list-menu">
                            <div class="list">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </div>
                            <p>Lorem ipsum dolor sit </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5">
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
                <h5> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores accusantium, assumenda velit
                    beatae eligendi, vero nam ullam quae repellat necessitatibus numquam quo eius mollitia quisquam
                    eveniet. Quam deserunt ut est.</h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="list-menu">
                            <div class="list">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </div>
                            <p>Lorem ipsum dolor sit </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="list-menu">
                            <div class="list">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </div>
                            <p>Lorem ipsum dolor sit </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="list-menu">
                            <div class="list">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </div>
                            <p>Lorem ipsum dolor sit </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="list-menu">
                            <div class="list">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </div>
                            <p>Lorem ipsum dolor sit </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <img src="/assets/images/processing.jpg" width="100%" alt="">
            </div>
        </div>
    </div>
</div>
<!-- End Business -->

<!-- Start divider -->
<div class="row  m-t-40 m-b-40">
    <div class="col-md-2 offset-md-5">
        <img src="/assets/images/divider.jpg" width="100%" alt="">
    </div>
</div>
<!-- ENd divider -->

<!-- Start developers -->
    <div class="row developer">
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h2>
        <div class="col-md-3">
            <h4>1</h4>
            <h5>Lorem ipsum dolor</h5>
            <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta animi corporis.</h6>
        </div>
        <div class="col-md-3">
            <h4>1</h4>
            <h5>Lorem ipsum dolor</h5>
            <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta animi corporis.</h6>
        </div>
        <div class="col-md-3">
            <h4>1</h4>
            <h5>Lorem ipsum dolor</h5>
            <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta animi corporis.</h6>
        </div>
        <div class="col-md-3">
            <h4>1</h4>
            <h5>Lorem ipsum dolor</h5>
            <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta animi corporis.</h6>
        </div>
    </div>
<!-- End developers -->