<!-- Start header -->
<div class="row header-top m-t-24">
    <div class="col-md-6">
        <div class="logo">
            <img src="/assets/images/logo.png" width="100px" alt="">
        </div>
    </div>
    <div class="col-md-6">
        <div fxLayoutAlign="end center" fxLayoutGap="24px">
            <button class="had-btn btn">Companies</button>
            <button class="had-btn btn">Companies</button>
            <button class=""><img src="/assets/images/icon/login.png" alt=""></button>
        </div>
    </div>
</div>
<!-- End header -->